.done {
  text-decoration: line-through;
  transition: all 0.5s;
  font-style: italic;
  background-color: aquamarine;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  max-width: 100%;

  margin-top: 10px;
  padding: 22px;
  border-radius: 10px;

  transition: all 0.5s;

  list-style: none;
  box-shadow: 0px 0px 15px 1px #0000004a;
}

.form-edit-container-inItem {
  width: 95%;
}

.item-content-container {
  display: flex;
  width: 100%;
}

.item-content-wrapper {
  flex-grow: 2;
  padding: 0 22px;
  max-width: calc(100% - 120px);
}

.content-title {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.content-body,
.content-title {
  word-wrap: break-word;
  max-width: 100%;
}

.item-actions-buttons-container {
  display: flex;
  flex-direction: row;
}

.edit-form {
  overflow: hidden;
}
