.button-action {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 10px;
  border: none;
  padding: 0px;
  background-color: transparent;

  cursor: pointer;
  font-size: 30px;
  transition: 1s;
}

.button-action:hover {
  transition: 1s;
  transform: scale(1.2);
}

.no-margin {
  margin: 0;
}


